@font-face{
    font-family: 'Calibri';
    src: url("../fonts/Calibri.ttf") format("ttf");
}
body {
    font-family: Calibri;
    font-size: 18px;
}
h1,h2 {
    font-family: Calibri;
}

.no-underline {
    text-decoration: none;
}
.no-underline:hover {
    text-decoration: none;
}
.pointer:hover {
    cursor: pointer;
}

.flex-fill {
    flex: 1 1 auto;
} 




.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


*:focus {
    outline: none !important;
    box-shadow: none; 
    background: none;
}
.underline {
    text-decoration: underline;
}
.underline-dotted {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.dropdown-towns {
    width: 300px !important;
    height: 150px !important;
}

.top-search {
    border-radius: 50px;
}
.top-search-block {
    border-radius: 50px;
    
}
.top-search-button {
    display:block;
    color: #fff;
    margin: 0px !important;
}
.top-search-button:hover {
    text-decoration: none;
    color: #fff;

}

.top-search-form {
    border: none;
    width: 100%; 
    margin: 0px !important;
    padding-left: 10px;
    background: none;
}

.top-search-category {
    padding-top: 9px !important;
}
.top-search-category-link {
}
.top-search-category-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.add-button {
    border-radius: 50px;
}



/* Рекомендации: */
.root_menu_a {
    text-decoration: none;
}
.root_menu_a:hover {
    text-decoration: none;
    background: #f8f9fa;
}

.recommendations-buttons {
    border-radius: 50px;
}
.recommendation-link {
    font-size: 24px;
}

.recommendation-img-wrap {
  position: relative;
}
.recommendation-img-wrap > .recommendation-on-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.recommendation-on-img {
    margin-bottom: 22px;
    color: #4384be;
}
.recommendation-on-img-left {
    background-color: rgb(255, 255, 255, 0.8);
    float: left;
    margin-top: 2px;

    padding: 2px 7px 2px 7px; 
    border-radius: 0px 50px 50px 0px;
}
.recommendation-on-img-right {
    background-color: rgb(255, 255, 255, 0.8);
    float: left;
    margin-top: 2px;
    margin-left: 10px;
    padding: 2px 7px 2px 7px; 
    border-radius: 50px;
}
.company-address-left {
    background: #e7ebf6;
    float: left;
    margin-top: 2px;
    color: #4485bd;
    padding: 2px 7px 2px 7px; 
    border-radius: 50px;
}
.company-address-right {
    background: #e7ebf6;
    color: #4485bd;
    float: left;
    margin-top: 2px;
    margin-left: 10px;
    padding: 2px 7px 2px 7px; 
    border-radius: 50px;
}
.float-left {
    float: left;
}


.image-round {
    border-radius: 7px;
}
/* Одно объявление: */
.ad_extend {
    font-weight: bold;
}
.ad-info { color: #6e98ca; }
.ad-address-block { background: #e5ecf6; }
.ad-address { padding: 7px 15px 7px 15px; border-radius: 7px; }

.ad-stars-block { background: #e5ecf6; }
.ad-stars { padding: 7px 15px 7px 15px; border-radius: 7px; }
.ad-stars-count-block { padding: 7px 15px 7px 15px; border-radius: 50px; }
.ad-stars-count { }

.ad-map { display: flex; align-items: center; justify-content: center; }

.ad-tel-block { background: #599d50; color: #fff; }
.ad-tel { padding: 7px 15px 7px 15px; border-radius: 7px; }

.give-star {
    font-size: 20px;
    color: #4485bd;
    
}
.ad-stars-rounding {
    border-radius: 50px;
    font-size: 35px;
}

/* Компании */
.company-link {
    text-decoration: none;
    color: #000;
}
.company-link:hover {
    background: #f8f9fa;
    text-decoration: none;
}
.company-page-company-link {
    color: #000;
    font-size: 22px;
    font-weight: bold;
}
.ad-address-block-companies-page { background: #e5ecf6; }
#companies_map {
    height: 370px;
    margin-bottom: 20px;
}

/* Формы: */
.agagro-form-style {
    background: #f1eff0;
    border: 0px !important;
    border-radius: 50px;
}
.agagro-form-style-textarea {
    background: #f1eff0;
    border: 0px !important;
    border-radius: 20px;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ''; 
}

/* Категории поиска */
.selected-category-for-search {
    font-weight: bold;
}
.ad-image-height {
    max-height: 400px;
}
.abs {
    margin-top: -3px;
}



/**/
.fix-image {
    min-height: 200px; 
    min-width: 300px; 
}
.fix-big-image { 
    min-height: 500px; 
    min-width: 800px; 
}


@media (max-width: 365px) {
    .mini-search {
        font-size: 14px;
    }
    .mini-header {
        font-size: 30px;
    }
}